/* .footer{
  margin-top: 200px;
} */

/* Compact Footer Styling */
.footer {
  background-color: #343a40;   /* Dark background */
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: fixed;          /* Footer fixed niche rahega */
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.footer p {
  margin: 5px 0;
}


.nav{
  background-color: aliceblue;
}